*{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: #333;
    font-family: Oswald;

    color: #fff;
    font-size: 18pt;
    display: flex;
}
div {
}

.button {
    background-color: rgba(255, 255, 255, 0.15);
    flex: 1;
    cursor: default;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;

    border: 0px solid #ccc;
    border-radius: 10px;

    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.button:active {
    background-color: rgba(255, 255, 255, 0.25);
}

.spacerbutton{
    flex: 1;
    margin: 10px;
}
.row{
    display: flex;
    padding: 0;
    margin: 0;
    border: 0;
    /*
    flex: 1;
    */
    height: 20%;
}

.spacer{
    /*
    flex: 0.5;
    */
}
#wrapper {
    margin: 0;
    padding: 15px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}
button{
    flex: 1;
    font-size: inherit;
    font-family: inherit;
    margin: 10px;
}
.buttons {
    flex: 0;
    display: flex;
}
.buttons button{
    padding: 10px;
}
select {
    font-size: inherit;
    font-family: inherit;
    flex: 1;
    margin: 10px;
    padding: 10px;
}
option {
    font-size: inherit;
    font-family: inherit;
}

#inputline {
    flex: 0;
}
#inputline input {
    flex: 1;
    margin: 10px;
}
#inputline button {
    flex: 0.2;
    padding: 50px;
    margin: 10px;
    text-align: center;
}

#connection {
    display: flex;
    flex-direction: column;
}
#connection input{
    font-size: inherit;
    font-family: monospace;
    padding: 10px;
    margin: 10px;
    color: #ccc;
    background-color: #222;
    border: 1px solid #666;
}

#remotebuttons{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer{
    flex: 0;
    display: flex;
    justify-content: center;
    margin: 10px;
    border-top: 1px solid #666;
    color: #666;
}

#wrapper.disconnected {
    border: 3px solid orange;
}